@import '_null';
@import url("https://fonts.googleapis.com/css?fami...");

@mixin button {
  border: 3px solid #1AA090;
  background-color: #1AA090;
  padding: 8px 30px;
  transition: .3s;
} 
.footer{
  display: flex;
  flex: 1 1 auto;
  color: #fff;
  font-size: 2rem;
  text-align: end;
}
body{
  font-family: 'Work Sans', sans-serif;
  &__lock{
    overflow: hidden;
  }
}
.wrapper{ 
  background-color:#121B25;
}
.container{
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}
.main{
  display: flex;
  flex-direction: column;
  flex: 0 1 auto
}
.title {
  font-weight: 600;
  font-size: clamp(1.5rem, 1.064rem + 2.18vw, 3rem);
  color: #fff;
}

/*------------------------HEADER-------------------------*/
.header {}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}
.header__logo {
  max-width: 200px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.menu__nav {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0 clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem) 0 0;
  @media (max-width:992px) {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vw;
    width: 80%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background-color: #1AA090;
    gap: 50px;
    overflow: auto;
    transition: left .3s;
  }
  &.__active{
    z-index: 9999;
    height: 100vw;
    left: 0;
  }
}
.menu__items {
  font-size: 1rem;
  color:#D6D6D6;
  display: inline;
  transition: .3s;
  position: relative;
  @media (max-width:992px){
    font-size: 20px;
  }
}
.menu__items:hover:after{
  content: '';
  display: block;
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #1AA090;
  color: #fff;
}
.menu__items:last-child{
  margin-right: 0px;
}
.menu__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #D6D6D6;
  gap: 5px;
  padding: 0 30px 0 0 ;
}
.menu__login {
  @include button;
  background-color: #1AA090;
  @media (max-width:476px) {
    display: none;
  }
} 
.menu__signup {
  @include button;
  @media (max-width:360px) {
    padding: 7px 15px;
  }
}
.menu__signup:hover{
  background-color: transparent;
}
.menu__login:hover {
  background-color: transparent;
}

.menu__burger{
  display: none;
  @media (max-width:992px) {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 9;
    span{
      transition: all .3s ease 0s;
      top: calc(50% - 1px);
      left:0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      &:first-child{
        top: 0;
      }
      &:last-child{
        top: auto;
        bottom: 0;
      }
    }
    &.__active{
      span{
        transform: scale(0);
        &:first-child{
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child{
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}
/*------------------------/HEADER-------------------------*/




/*-----------------------INTRO--------------------------*/
.intro {
  position: relative;
}
.intro__inner {
  display: flex;
  margin-top: 95px;
  align-items: center;
  justify-content: center;
  @media (max-width:1096px) {
    display: flex;
    flex-direction: column;
  }
}
.intro__info {
  @media (max-width:667px) {
    text-align: center;
  }
}
.info__inner { 
  margin-right: 20px;
  @media (max-width:1096px) {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  }
}
.info__title {
  font-size: clamp(2.5rem, 1.991rem + 2.55vw, 4.25rem);
  font-weight: 600;
  color: #fff;
  line-height: 85.68px;
  margin-bottom: 1.25rem;
  max-width: 600px;
  letter-spacing: 2px;
  @media (max-width:1096px) {
    width: 100%;
    line-height: 60px;
    text-align: center;
  }
}
.info__text {
  font-size: clamp(0.75rem, 0.641rem + 0.55vw, 1.125rem);
  color: #D6D6D6;
  font-weight: 400;
  margin-bottom: 60px;
  line-height: 30px;
  @media (max-width:1096px) {
    
    margin-bottom: 30px;
  } 
}
.intro__image {
  max-width: 700px;
  min-height: 100px;
  text-align: center;
  position: relative;
  z-index: 2;
  @media (max-width:1096px) {
    margin-top: 30px;
  } 
  @media (max-width:796px) {
    display: none;
  } 
}

.decor{
  position: absolute;
  bottom: -240px;
  right: 0;
  z-index: 0;
}
/*-----------------------SEARCH INFO--------------------------*/
.info__search {
  width: 890px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  @media (max-width:1096px) {
    width: 100%;
    position: static;
    top: 100%;
    }
  @media (max-width:667px) {
    min-height: 200px;
    
    }
}
.search__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px ;
  width: 100%;
  height: 100%;
  @media (max-width:667px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
}
.search__block {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  @media (max-width:667px) {
    width: 100%;
    }
}
.search__block:nth-child(2){
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  @media (max-width:667px) {
    border-bottom: 1px solid #858585;
    border-top: 1px solid #858585;
    }
}
.block__header {
  display: flex;
  flex-direction: column;
}
.block__title {
  display: flex;
  align-items: center;
  @media (max-width:667px) {
    justify-content: center;
  }
}
.block__type {
  color: #858585;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  margin-right: 2px;
}
.block__arrow {
  display: flex;
  align-items: center;
}
.arrow {
  transition: .3s ease-in-out;
  &._active{
    transform: rotate(180deg);
  }
}
.block__value {
  font-size: clamp(1rem, 0.964rem + 0.18vw, 1.125rem);
  font-weight: 600;
  color: #121B25;
  margin-top: 3px;
}
.block__dropdown {
  display: none;
  position: absolute;
  z-index: 3;
  top: 108%;
  left: 20px;
  right: 0;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  line-height: 2;
  width: 85%;
  transition: .3s;
  cursor: pointer;
  &._active{
    display: block;
    @media (max-width:667px) {
      box-shadow: 1px 1px 10px #121B25;
    }
  }
  @media (max-width:667px) {
    margin-left: 20px;
  }
}
.block__dropdown-item {
  text-align: center;
  transition: .5s;
  border-radius: 5px;

}
.block__dropdown-item:hover{
  background-color: #121B25;
  color: #fff;
}
.search__inner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 165px;
  @media (max-width:667px) {
    width: 100%;
    padding-bottom: 5px;
  }
}
.search__button {
  width: 95%;
  height: 90%;
  background-color: #15786C;
  color: #fff;
  font-size: 1.5rem;
  transition: all .3s;
  @media (max-width:667px) {
    max-width: 600px;
  }
}
// clamp(0.313rem, 0.24rem + 0.36vw, 0.563rem) clamp(6.25rem, 2.977rem + 16.36vw, 17.5rem)
.search__button:hover{
  background-color: #1AA090;
  box-shadow: 1px 1px 10px #1AA090;
}
.search__button:active{
  background-color: #15786C;
}
/*------------------------/SEARCH INFO-------------------------*/

/*------------------------INFO FIN-------------------------*/
.intro__fin {
  margin-top: 180px;
  margin-bottom: 190px;
}
.fin__inner {
  display: flex;
  flex-direction: column;

}
.fin__title {
  margin-bottom: clamp(1.5rem, 0.991rem + 2.55vw, 3.25rem);
  @media (max-width:797px){
    text-align: center;
  }
}
.fin__logos {
}
.logos__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
  @media (max-width:667px) {
    gap: 80px;
  }
}
.logos__item {}

/*-------------------------/INFO FIN------------------------*/


/*------------------------US-------------------------*/

.us {
  color: #E8E8E8;
  position: relative;
  margin-bottom: clamp(5.625rem, 3.989rem + 8.18vw, 11.25rem);
}
.us__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.us__title {
  margin-bottom: 60px;
}
.pluses__inner {
  display: flex;
  margin-bottom: 250px;
  @media (max-width:770px){
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    gap: 25px;
  }
}
.pluses__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 378px;
  margin-right: 105px;
  @media (max-width:770px){
    margin-right: 0;
  }
}
.pluses__block:last-child{
  margin-right: 0;
}
.pluses__image {
  margin-bottom: 36px;
  width: 180px;
  height: 180px;
  border: 1px solid #0e4d45;
  border-radius: 50%;
  background-color: #0e4d45;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  @media (max-width:590px){
    width: 120px;
    height: 120px;
    & img{
      width: 52px;
      height: 52px;
    }
  }
}
.pluses__image:hover{
  box-shadow: 1px 1px 10px #fff;
  cursor: pointer;
}
.pluses__title {
  margin-bottom: 11px;
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.625rem);
}
.pluses__text {
  font-size: clamp(0.5rem, 0.318rem + 0.91vw, 1.125rem);
  line-height: 2;
  color: #D6D6D6;
  text-align: center;
}

.pluses__decore{
  position: absolute;
  top: 10%;
}
/*--------------------------/US-----------------------*/


/*-------------------------COMMENT------------------------*/

.us__comment {
  max-width: 1005px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
.comment__inner {
  display: flex;
  flex-direction: column;
}
.comment__icon {
  margin-bottom: clamp(0.813rem, 0.631rem + 0.91vw, 1.438rem);
  @media (max-width:770px) {
    width: 50px;
    height: 30px;
    margin-bottom: 4rem;
  }
  @media (max-width:559px) {
    width: 40px;
    height: 20px;
  }
}
.comment__text {
  @media (max-width:770px) {
    max-width: 500px;
  }
  @media (max-width:559px) {
    max-width: 400px;
  }
}
.text__comm {
  font-size: clamp(1.375rem, 1.193rem + 0.91vw, 2rem);
  margin-bottom: clamp(0.813rem, 0.631rem + 0.91vw, 1.438rem);
  line-height: 50px;
  width: 100%;
  @media (max-width:770px) {
    font-size: 1.25rem;
  }
  @media (max-width:559px) {
    width: 100%;
  }
  @media (max-width:350px) {
    max-width: 70px;
  }
}
.text__author {
  display: flex;
  align-items: center;
}
.author__name {
  font-size: clamp(0.75rem, 0.568rem + 0.91vw, 1.375rem);
  font-weight: 600;
  line-height: 2;
  @media (max-width:559px) {
    font-size: 0.8rem;
    display: flex;
    max-width: 70px;
  }
  @media (max-width:350px) {
    font-size: 0.6rem;
    display: flex;
    max-width: 70px;
  }
}
.author__job {
  font-size: clamp(0.5rem, 0.318rem + 0.91vw, 1.125rem);
  font-weight: 400;
  color: #D6D6D6;
}
.author__info{
  display: flex;
  flex-direction: column;
  margin-right: clamp(12.5rem, 3.045rem + 47.27vw, 45rem);
}
.comment__arrow {
  display: flex;
  justify-content: space-around;
  max-width: 120px;
}
.comment__prev img{
  width: 23px;
  height: 23px;
}
.comment__prev{}
.comment__next img{
  width: 23px;
  height: 23px;
}
/*-------------------------/COMMENT------------------------*/

/*-------------------------WE DO------------------------*/
.wedo {
  background-color: #0e4d45;
  border: 1px solid #1A242F00;
}
.wedo__inner {
  display: flex;
  align-items: center;
  margin-top: clamp(5rem, 3.545rem + 7.27vw, 10rem);
  margin-bottom: clamp(5rem, 3.545rem + 7.27vw, 10rem);
  @media (max-width:470px) {
    display: flex;
    justify-content: center;
  }
}
.wedo__images {
  display: flex;
  margin-right: clamp(1.875rem, 1.275rem + 3vw, 3.938rem);
  @media (max-width:470px) {
    display: flex;
    flex-direction: column;
  }
}
.wedo__image img {
  @media (max-width:1045px) {
    width: 250px;
    height: 500px;
  }
  @media (max-width:840px) {
    width: 200px;
    height: 400px;
  }
  @media (max-width:470px) {
    display: none;
  }
}
.wedo__image:first-child{
  margin-right: 20px;
  @media (max-width:1045px) {
    margin-right: 10px;
  }
  @media (max-width:760px) {
    display: none;
  }
  @media (max-width:470px) {
    display: block;
    margin-bottom: 10px;
  }
}
.wedo__content {
  max-width: clamp(12.5rem, 5.227rem + 36.36vw, 37.5rem);
}
.wedo__content-text {}
.wedo__title {
  line-height: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
  margin-bottom: 20px;
  word-spacing: 2px;
  @media (max-width:760px) {
    
  }
}
.wedo__text {
  font-size: clamp(0.5rem, 0.318rem + 0.91vw, 1.125rem);
  color: #E8E8E8;
  line-height: 30px;
  margin-bottom: 63px;
  @media (max-width:470px) {
    font-size: 14px;
  }
}
.wedo__content-button {
  width:clamp(9.375rem, 7.83rem + 7.73vw, 14.688rem);
  min-height: 25px;
}
.wedo__content-button button{
  background-color: #1AA090;
  color: #fff;
  padding: 22px 42px;
  font-size: clamp(0.875rem, 0.693rem + 0.91vw, 1.5rem);
  transition: .3s;
} 
.wedo__content-button button:hover{
  box-shadow: 1px 1px 10px #1AA090;
  background-color: #1AA090;
}
.wedo__content-button button:active{
  background-color: #15786C;
}
/*-------------------------/WE DO------------------------*/

/*--------------------------BEGIN-----------------------*/
.begin {
  position: relative;
}
.begin__inner {
  margin-top: clamp(5rem, 3.545rem + 7.27vw, 10rem);
  margin-bottom: clamp(5rem, 3.545rem + 7.27vw, 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width:420px) {
    display: flex;
    flex-direction: column;
    
  }
}
.begin__title {
  font-size: clamp(3rem, 2.636rem + 1.82vw, 4.25rem);
  max-width: 512px;
  min-height: 100px;
  line-height: 126%;
  z-index: 3;
}
.begin__content {
  max-width: 637px;
  min-height: 50px;
}
.begin__text {
  color: #D6D6D6;
  font-size: clamp(0.5rem, 0.318rem + 0.91vw, 1.125rem);
  line-height: 170%;
  margin-bottom: clamp(1.125rem, 0.816rem + 1.55vw, 2.188rem);
}
.begin__button {
  max-width: 221px;
  min-height: 42px;
  transition: all .3s;
  position: relative;
  z-index: 3;
  @media (max-width:420px) {
    width: 100%;
    min-height: 20px;
  }
}
.begin__button button{
  background-color: #1AA090;
  font-size: clamp(0.875rem, 0.693rem + 0.91vw, 1.5rem);
  color: #fff;
  padding: 22px 42px;
  width: 100%;
  height: 100%;
}
.begin__button:hover{
  box-shadow: 1px 1px 10px #1AA090;
}
.begin__button:active{
  background-color: #15786C;
}

.begin__decore{
  position: absolute;
  left: 0;
  top: 20%;
  z-index: 0;
}
.begin__decore-sqr{
  position: absolute;
  right: 0;
  bottom: 70%;
}
/*-------------------------/BEGIN-----------------------*/

/*-----------------------FOOTER--------------------------*/
.footer {
  position: relative;
  background-color: #1A242F;
  z-index: 2;
}
.footer__inner {
  display: flex;
  margin-top: clamp(3.125rem, 1.489rem + 8.18vw, 8.75rem);
  margin-bottom: clamp(3.125rem, 1.489rem + 8.18vw, 8.75rem);
}
.footer__info {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  margin-right: clamp(2.5rem, 0.682rem + 9.09vw, 8.75rem);
  @media (max-width:750px) {
    max-width: 240px;
  }
}
.footer__logo {
  max-width: 120px;
  min-height: 100px;
  @media (max-width:790px) {
    max-width: 80px;
    min-height: 90px;
  }
}
.footer__logo img{
  width: 100%;
  height: 100%;
}
.footer__text {
  font-size: clamp(0.5rem, 0.318rem + 0.91vw, 1.125rem);
  color: #D6D6D6;
  margin-bottom: clamp(1rem, 0.709rem + 1.45vw, 2rem);
  line-height: 170%;
  text-align: start;
}
.footer__media {
  display: flex;
  gap: clamp(0.875rem, 0.584rem + 1.45vw, 1.875rem);
}
.media__icon{}
.footer__nav {
  display: flex;
  @media (max-width:750px) {
    display: flex;
    flex-direction: column;
  }
}
.nav {
  max-width: 170px;
  margin-right: clamp(2.5rem, 0.864rem + 8.18vw, 8.125rem);
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (max-width:750px) {
    display: flex;
    flex-direction: column;
  }
}
.nav__items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nav:last-child{
  margin-right: 0;
}
.nav__title {
  font-size: clamp(0.875rem, 0.657rem + 1.09vw, 1.625rem);
}
.nav__link {
  font-size: clamp(0.563rem, 0.399rem + 0.82vw, 1.125rem);
  @media (max-width:750px) {
    display: none;
  }
  &._active{
    display: block;
  }
}
.nav__link a{
  color: #D6D6D6;
}
.nav__link a:hover{
  color: #1AA090;
}
/*-----------------------/FOOTER--------------------------*/
